<section class="about">
    <div class="container">
        <h2 class="template-title">
            About Us
        </h2>
        <div class="about__content">
            <ul class="about__content-list">
                <li class="about__content-item">
                  Brew & Co is a cozy cafe where every cup is brewed with passion and care.
                </li>
                <li class="about__content-item">
                    From carefully selected beans to delicious drinks, Brew & Co offers a delightful coffee experience in a welcoming space.
                </li>
                <li class="about__content-item">
                    Enjoy specialty coffee, friendly vibe, and warm atmosphere at Brew & Co – your perfect neighborhood spot.
                </li>
            </ul>
            <div class="about__content-image-box">
                <img class="about__content-image" src="src/assets/img/about-image.jpg" alt="about image">
            </div>
        </div>
    </div>
</section>