<section class="hero">
    <div class="container">
        <div class="hero__logo">
            <img src="src/assets/img/logo.png" alt="logo">
        </div>
        <h1 class="template-title">
            Brew & Co
        </h1>
        <div class="hero__slogan">
            "Brew & Co"
            a small bowl of cava, the clear cava flows with the warmth
            atmosphere. We value simplicity, relish and respect down to every detail."
        </div>
        <button class="hero__button">
            "Find us"
        </button>
    </div>
</section>