<section class="visit">
    <div class="container">
        <h2 class="template-title">
            Visit Us
        </h2>
        <div class="visit__body">
            <div class="visit__info">
                <div class="visit__block">
                    <h3 class="visit__subtitle">Address</h3>
                    <ul class="visit__list">
                        <li class="visit__item">
                            Rue des Artisans 14, 1205 Genève
                        </li>
                    </ul>
                </div>
                <div class="visit__block">
                    <h3 class="visit__subtitle">Work schedule</h3>
                    <ul class="visit__list">
                        <li class="visit__item">
                            Monday - Friday: 07:30 - 19:00
                        </li>
                        <li class="visit__item">
                            Saturday - Sunday: 09:00 - 17:00
                        </li>
                    </ul>
                </div>
                <div class="visit__block">
                    <h3 class="visit__subtitle">Contacts</h3>
                    <ul class="visit__list">
                        <li class="visit__item">
                            Phone: +41 22 555 34 90
                        </li>
                        <li class="visit__item">
                            Email: hello@brewandco.ch
                        </li>
                    </ul>
                </div>
            </div>
            <div class="visit__map">
                <iframe class="visit__iframe"
                    src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d11045.790967629122!2d6.140542!3d46.2015474!3m2!1i1024!2i768!4f13.1!2m1!1sRue%20des%20Artisans%2014%201205%20Gen%C3%A8ve!5e0!3m2!1sru!2sua!4v1774536163129!5m2!1sru!2sua"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>
    </div>
</section>